<div class="card-group">
<div class="card bg-primary text-white" >
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-white">{{subtitle}}</h6>
    <a href="/articles#{{id}}" class="btn btn-secondary">Check Out this Article</a>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>
</div>
